<?xml version = "1.0" encoding = "UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace = "com.springmybatis.mappers.AuthorMapper">

    <resultMap id = "author" type = "com.springmybatis.model.Author">
        <result property = "id" column = "id"/>
        <result property = "name" column = "name"/>
        <result property = "surname" column = "surname"/>
    </resultMap>

    <select id = "getAuthors" resultMap = "author">
        SELECT * FROM authors;
    </select>

    <select id = "getAuthorById" parameterType = "int" resultMap = "author">
        SELECT * FROM authors WHERE id = #{id};
    </select>

    <insert id = "insertAuthor" parameterType = "com.springmybatis.model.Author">
        INSERT INTO authors (name, surname ) VALUES ( #{name}, #{surname});

    </insert>

    <update id = "update" parameterType = "com.springmybatis.model.Author">
        UPDATE authors SET name = #{name}, surname = #{surname} WHERE ID = #{id};
    </update>

    <delete id = "delete" parameterType = "int">
        DELETE from authors WHERE id = #{id};
    </delete>

</mapper>